{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form method="POST" action="" class="needs-validation" novalidate>
{% csrf_token %}

    <div class="form-row">
        {{form.fuel.label_tag}}
        {{form.fuel}}
    </div>
    <br>
    <div class="form-row ">
        <div class="col-sm-2">
            {{form.co2factor}}
        </div>
        <div class="col-sm-2 text-center my-auto">
            CO2 tons per
        </div>
        <div class="col-sm-2">
            {{form.co2units}}
        </div>
    </div>
    <br>
    <p> {% trans "Conversion factors:" %}</p>
    <small class="form-text text-muted">{% trans "These are not mandatory but those you fill in will be your available options for simulating." %}</small>

    <div class="form-row">
        <div class="col-md-2">
            {{form.liter}}
        </div>
        <div class="col-md-2 my-auto">
            kWh/{{form.liter.name}}
        </div>
        <div class="col-md-2">
            {{form.ton}}
        </div>
        <div class="col-md-2 my-auto">
            kWh/{{form.ton.name}}
        </div>
        <div class="col-md-2">
            {{form.kg}}
        </div>
        <div class="col-md-2 my-auto">
            kWh/{{form.kg.name}}
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-2">
            {{form.m3}}
        </div>
        <div class="col-md-2 my-auto">
            kWh/{{form.m3.name}}
        </div>
        <div class="col-md-2">
            {{form.gal}}
        </div>
        <div class="col-md-2 my-auto">
            kWh/{{form.gal.name}}
        </div>
    </div>

    <br>
    <div class="row justify-content-center" >
        <div class="col-md-4">
            <button type="submit" class="btn btn-success btn-block"> {% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %} </button> 
        </div>
    </div>
</form>

<script>

    let prev = document.getElementById("{{form.co2units.id_for_label}}").value;
    if (prev!="kWh"){
        document.getElementById("id_"+prev).required = true;
    }
    $('#{{form.co2units.id_for_label}}').on('change',function(){
        //get the file name
        var unit = $(this).val();
        if (prev!="kWh"){
            document.getElementById("id_"+prev).required = false;
        }
        if (unit!="kWh"){
            document.getElementById("id_"+unit).required = true;
        }
        
        prev = unit;
    })
</script>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}